body{
    font-family: Arial;
    background:#111;
    color:white;
}


h1{
    text-align:center;
}


.container{

    display:flex;
    gap:20px;
    justify-content:center;
    flex-wrap:wrap;

}


.card{

    background:#222;
    padding:20px;
    border-radius:15px;
    width:250px;

}

.array {
  display:flex;
  gap:20px;
  justify-content:center;
  margin:30px;
}

.array span {
  background:#333;
  padding:20px;
  border-radius:10px;
  font-size:25px;
}


button {
  padding:10px 20px;
  cursor:pointer;
}